.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
/doc/
/Meta/
*.tmp.*
data-raw/junco_61353.csv
data/junco.clean/
data/step1_preproc/
data/step2_roost/
data/step3_metrics/
data/step4_restless/
data/results/
figures/
